.auth-button{
   padding: rem(14px) rem(32px);
    border-radius: rem(24px);
    border: 2px solid white;
    background-color: transparent;
    color: #fff;
    font-size: rem(20px);
    font-family: 'robotobold';
    
}