.footer{
    width: 100%;
    height: rem(185px);
    &__up{
        width: 100%;
        height: rem(148px);
        background-color: rgba(53, 59, 63, 0.85);
        display: flex;
    }

    &__block{
        width: 33%;
    }

    &__down{
        width: 100%;
        height: rem(40px);
        background-color: rgba(105, 147, 90, 0.85);

        P{
            text-align: center;
        }
    }
   


}