.socials{
    display: flex;
    justify-content: center;

    &__list{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

    }

    &__item{
        margin-right: rem(25px);
    }
    &__link{
        display: block;
       
    }

    &__svg{
        display: inline-block;
        width: rem(31px);
        height: rem(22px);
        fill: #00bfa5;
        opacity: .5;
        transition: opacity .5s;
    }
}