
.socials{

	&__list{
		display: flex;
		margin-top: rem(20px);

	}

	&__item{
		margin-left: rem(40px);

		&:first-child{
			margin-left: 0;
		}
	}

	&__link{
		display: inline-block;
		
		&:hover .socials__svg{
			fill: #507d44;
		}
	}

	&__svg{
		fill: #fff;
        width: rem(35px);
		height: rem(25px);
		transition: .5s;
	}
}