.user{
    width: 100%;
    min-height: rem(217px);
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img{
        width: rem(145px);
        height: rem(145px);
        border-radius: 50%;
        overflow: hidden;

        &-pic{
            max-width: 100%;
            height: auto;
            background-position: center center;
            background-size: cover;
        }
    }

    &__desc{
        display: flex;
        flex-direction: column;
        align-items: center;

        &-name{
            font-family: 'robotomedium';
            font-size: rem(28px);
        }
        &-data{
            font-family: 'robotoregular';
            color: #d0d4d3;
            font-size: rem(18px);
        }
        }
}
