<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
     .wrapper
        .welcome-bg
        button.auth-button
        .welcome-block
          .welcome-block__img
          .welcome-block__name
          .welcome-block__desc
          .socials
            ul.socials__list
              li.socials__item
              li.socials__item
              li.socials__item
          .welcome-block__menu
             ul.welcome-menu
               li.welcome-menu__item
               li.welcome-menu__item
               li.welcome-menu__item
        .welcome-footer
        