extends ../template


block variables
        - var title = "Обо мне"

block content
     include ../common/_user
     include ../common/_hamb-menu
     include ../common/_socials
     include ../common/_header