extends ../template
include ../common/_mixins

block variables
       - var title = "Добро пожаловать"
    

block content    
      .wrapper
      .welcome-bg
        .welcome-auth
           button('type'= 'button').auth-button Авторизоваться
        .welcome-block
          include ../common/_user
          include ../common/_socials
          +nav('welcome-nav', ["Мои работы", "Обо мне", "Блог"])     
        include ../common/_footer
        