extends ../template

block variables
       - var title = "Добро пожаловать"
    

block content    
      .wrapper
        .welcome-bg
        button.auth-button
        .welcome-block
            .welcome-block__img
            .welcome-block__name
            .welcome-block__desc
            .socials
                ul.socials__list
                    li.socials__item
                    li.socials__item
                    li.socials__item
            .welcome-block__menu
                ul.welcome-menu
                    li.welcome-menu__item
                    li.welcome-menu__item
                    li.welcome-menu__item
        .welcome-footer
        