extends ../template
include ../common/_mixins

block variables
       - var title = "Добро пожаловать"
    

block content    
    .wrapper
      .welcome-bg
        //- <div class="Background">
        //-   <canvas class="Background-canvas"></canvas>
        //- </div>
        .welcome-auth
           button('type'= 'button').auth-button#authBtn Авторизоваться
        .welcome-block
          include ../common/_user
          .welcome-social
            include ../common/_socials
          +nav('welcome-nav', [{href: 'works.html', text: 'Мои работы'}, {href: 'about.html', text: 'Обо мне'}, {href: 'blog.html', text:'Блог'}])
        .flip-block
          form(action="" class='auth-form')
            h2.auth-form__title Авторизуйтесь
            .auth-form__content
              .auth-form__row
                .auth-form__img
                  svg.auth-form__svg
                    use(xlink:href='images/sprite.svg#login')
                input.auth-form__input(placeholder='Логин' type='text' name='login')
              .auth-form__row
                .auth-form__img
                  svg.auth-form__svg
                    use(xlink:href='images/sprite.svg#password')
                input.auth-form__input(placeholder='Пароль' type='password' name='password')
              .auth-form__row
                label.ishuman
                  input.ishuman__input(type='checkbox')
                  .ishuman__square
                    svg.ishuman__svg
                      use(xlink:href='images/sprite.svg#check')
                  .ishuman__title Я человек
              .auth-form__row.radio__row
                .radio__title Вы точно не робот?
                label.radio__label
                  input.radio__input(type='radio' name='ishuman')
                  .radio__circle
                  .radio__text Да
                label.radio__label
                  input.radio__input(type='radio' name='ishuman')
                  .radio__circle
                  .radio__text Не уверен
              .auth-form__btns
                button.btn.auth-btns  На главную
                button.btn.auth-btns Войти 
        footer.welcome-footer
          span.welcome-footer__text &copy Мистер Кот | 
          span.welcome-footer__text создано с любовью в Loftschool | 2017
        
        