.about{
    position: relative;
    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: rem(40px);

        @include tablets{
            flex-direction: column;
            align-items: center;
        }

        &-left{
            width: 50%;
            background-color: #ebefe2;
            display: flex;
            justify-content: space-around;
            font-family: 'sansus_webissimoregular';

            @include desktop{
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
            }

            @include tablets{
                width: 100%;
                padding-bottom: rem(50px);
            }
            
        }
        &-right{
            width: 50%;
            background-color: #f4f5f0;
            padding-left: rem(30px);

            @include tablets{
                width: 100%;
                padding-top: rem(50px);
                padding-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__title{
        width: 50%;
        @extend .works__title;
        text-transform: uppercase;
        font-size: rem(63px);
    }

    &__user{
        max-width: rem(467px);
        padding-right: rem(24px);
    }

    &__img{
        max-width: rem(410px);
        max-height: rem(380px);


        &-pic{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__who{
        @extend .works__title;
        text-transform: uppercase;

        @include desktop{
            padding-top: rem(80px);
        }
    }
    
    &__desc{
        color: #566358;
        line-height: rem(26px);
    }

}

.useful{
    &__title{
        @extend .works__title;
        text-transform: uppercase;
        width: 100%;
    }

    &__desc{
        color: #566358;
        line-height: rem(24px);
    }
}

.skills{

    &-list__item{

        @include tablets{
            padding: 0 rem(30px);
        }
       
    }

    &-row{
        display: flex;
        flex-direction: column;
    }
    &-row__title{
        color: #566358;
        font-size: rem(28px);
        font-family: 'robotomedium';
        padding-bottom: rem(20px);

        @include tablets{
            text-align: center;
        }
    }

    &__list{
        display: flex;

        @include tablets{
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__item{
        padding-right: rem(40px);
        padding-bottom: rem(40px);
    }
}

.skill{

    &__circle{
        position: relative;

        &-title{
            font-size: rem(14px);
            font-family: 'robotomedium';
            color: #4e8839;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
}
.skill__svg{
    width: 100px;
    fill: none;
    stroke-width: 15;
}

.circle__bg{
    stroke: #dfdcd5;
}

.circle__front{
    stroke: #77a266;
    stroke-dasharray: 180 280;
}

.map{
    position: relative;

    &__contacts{
        width: rem(384px);
        height: rem(314px);
        background-color: rgba(252,252,252,0.85); 
        position: absolute;
        z-index: 2;
        top: 39%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;

        &-title{
            @extend .works__title;
        }

    }

    .contacts{

        padding: 0 rem(50px);
        
        &__item{
            display: flex;
            margin-bottom: rem(30px);
        }

        &__svg{
            width: rem(28px);
            height: rem(25px);
        }

        &__link{
            color: #687980;
            padding-left: rem(14px);
            font-family: 'robotobold';
            font-size: rem(20px);
        }
    }

    &__google{
        width: 100%;
       height: rem(860px);
       background-color: grey;
       position: relative;
    }
}
