@import '../components/_socials';
@import '../components/_hamb-menu';
@import '../components/_btn';
@import '../components/_header';
@import '../components/_footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100%;
    position: relative;
    color: #fff;
    font-size: rem(16px);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}