@import '../components/_user';
@import 'components/_auth-button.scss';

.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.welcome-bg{
    background: url(../images/water.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-auth{
    position: absolute;
    top: rem(25px);
    right: rem(100px);
}

.welcome-block{
    min-height: rem(398px);
    background-color: rgba(18, 38, 32, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(4px);
}


.welcome-nav{

    &__list{
        display: flex;
    }

    &__item{
        flex: auto;

        &:last-child .welcome-nav__link{
            border-right: 0;
        }
    }

    &__link{
        padding: rem(14px) rem(35px);
        background-color: #608e54;
        color: #fff;
        font-family: 'robotomedium';
        border-right: 2px solid #a0b99e; 
        transition: .5s;

        &:hover{
            background-color: $green;
        }
    }

}






