<div class="hamb-menu__block">
  button.btn-toggle#menuOpen
    <span class="menu-item menu-top"></span>
    <span class="menu-item menu-middle"></span>
    <span class="menu-item menu-bottom"></span>
</div>