section.header
    .header__socials
        include _socials
    .header__user
        include _user
    .header__hamb
        include _hamb-menu
    .page-down
        a(href='#' class = 'page-down__link')
            svg.svg
                use(xlink:href="../../images/icons/arrow_down.svg")
                

    