include _mixins.pug
section.header
    .header__bar
        .header__socials
            include _socials
        .header__hamb
            include _hamb-menu
        +nav('hamb-menu', [{href: 'works.html', text: 'Мои работы'}, {href: 'about.html', text: 'Обо мне'}, {href: 'blog.html', text:'Блог'}, {href: 'index.html', text:'Авторизоваться'}])
    .header__user
        include _user
    .bg-img
        svg.bg-svg
            use(xlink:href='images/sprite.svg#portfolio_header')
    .page-down
        a(href='#' class = 'page-down__link')
            svg.page-down__svg
                use(xlink:href='images/sprite.svg#arrow_down')
    .header__triangle-left
    .header__triangle-right
         

    