.socials
        ul.socials__list
            each social in ['vk', 'github', 'linkedin']
                li.socials__item
                    a(href='#' class=`socials__link socials__link--${social}`)
                        svg.socials__svg
                            
                      

                